@model AppScaffolding.Models.Seguimiento

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Seguimiento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaVisita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaVisita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoMascota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoMascota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdopcionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdopcionId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
